<%= render partial: "partials/header" %>
<main id="posts-show">
	<div class="inner">
		<div class="img" style="background-image: url(<%= @post.image.to_s %>);"></div>
		<div class="details">
			<div class="content">
				<%= @post.content %>
			</div>

			<footer>
				<% if @like %>
					<a class="dislike" href="">食べたい</a> 
				<% else %>
					<a class="like" href="">食べたい</a> 
				<% end %>
			</footer>
		</div>
	</div>
</main>
<%= render partial: "partials/footer" %>