#header {
	display: flex;
	padding: 8px 16px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	align-items: center;
	.logo {
		width: 36px;
	}
	.sign-in {
		margin-left: auto;
		font-size: 14px;
    text-decoration: none;
	}
	.sign-up {
		margin-left: 16px;
    background-color: gray;
    padding: 8px 16px;
    border-radius: 19px;
    color: white;
    text-decoration: none;
		font-size: 14px;
		transition: opacity 0.2s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}

	.post-button {
		margin-left: auto;
		margin-right: 8px;
		font-size: 14px;
		text-decoration: none;
		background-color: gray;
    padding: 8px 16px;
		border-radius: 20px;
		color: white;
		transition: opacity 0.2s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}

	.sign-out {
		font-size: 14px;
		text-decoration: none;
	}

	
	
}

